@CHARSET "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

header {
    background-color: #ffe4d4;
    width: 100%;
    height: 70px
}

h1 {
    margin-left: 20px;
    font-size: 24px;
    line-height: 70px;
    text-shadow: 3px 3px 6px #444
}

